.sidebar-content{
    background-color: #EEF1F6;
    caret-color: transparent;
    width: 20px;
}

.sidebar-button {
    background-color: #407C87;
    margin-bottom: 12px;
    font-size: 18px;
}

.sidebar-button:hover {
    background-color: #A5DBDD;
}

.active {
    color: black;
    background-color: #A5DBDD;
}

.link {
    @apply p-2 flex rounded-md gap-5 items-center md:cursor-pointer cursor-default duration-300 font-medium;
  }