/* Media Queries for Mobile and Tablet View */
@media (max-width: 768px) {
  .logo-name {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .welcome-note{
    font-size: 14px;
  }

  .dropdown-items {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .logo-name {
    display: none;
  }
  .welcome-note{
    font-size: 15px;
  }
 .dropdown-items {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .welcome-note{
    font-size: 11px;
  }
 .dropdown-items {
    font-size: 11px;
  }
}