.sidebar-content{
    background-color: #EEF1F6;
}

.sidebar-button {
    background-color: #407C87;
    margin-bottom: 13px;
    font-size: 22px;
    color: white;
}

.sidebar-button:hover {
    background-color: #A5DBDD;
    color: black;
}

.active {
    color: black;
    background-color: #A5DBDD;
}

.link {
    @apply p-2 flex rounded-md gap-5 items-center md:cursor-pointer cursor-default duration-300;
  }

@media only screen and (max-width: 1024px){
    .sidebar-button{
        font-size: 20px;
    }
}
@media only screen and (max-width: 640px){
    .sidebar-button{
        font-size: 18px;
    }
}